*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.img-full {
  width: 100%;
  height: auto;
}

.container {
  max-width:1020px;
}

.container_3 {
  max-width:820px;
}

.navbar {
  padding:0;
  width:100%;
  background-color: #323232;

&-nav {
  width:100%;
  padding:0 25px;
}

.logo {
  padding-top:8px;
}

  .nav-item {

    padding:20px 5px 12px 5px;

    .link {

      color:#fff;
      font-size:10px;
      &:hover {
        color:#306e62;
        text-shadow: -.25px -.25px 0 #306e62, 
                .25px .25px #306e62;
      }

      &:active {
        color:#306e62;
        text-shadow: -.25px -.25px 0 #306e62, 
                .25px .25px #306e62;
      }

    }

  }

  .logo::after {
  content: '';
  border: 45px solid transparent; 
  border-top: 25px solid #333; 
  position: absolute;
  right:50%;
  transform:translateX(50%);
  top:100%;
  z-index:10;
}

}

.slider-section {
  position: relative;
  background-color: #fff;
    &:before {
      content: '';
      position: absolute;
      left:0;
      right:0;
      bottom:1.5%;
      border-top:1px solid #e4e9eb;
    }

.slide {
}

  .radio-buttons {
    left:0;
    right:inherit;
    margin:0 0 0 16px;
    bottom:24px;
  }

  .btn {
    background-color: #ddd2c5;
    width:6px;
    height:6px;
    padding:0;
    border-radius: 0;
    margin:0 3px 0 0;

    &.active {
      background-color: #8b8784;
    }

  }

  .slider-content {
    padding:90px 0 90px;
  }

  .honeycombs-block {
    padding:0 10px;
    cursor:pointer;
    transition:all 1s;

    &:hover {
      transition: all 0.5s;
      transform:scale(1.1);
    }
  }

  .middle-content-block {
    margin-top:-40px;
  }

  .bottom-content-block {
    margin-top:-37px;
  }

}

.back-color {
  background-color: #2eb398;

  .user-description-block {
    opacity:0.7;
    position: initial;
    line-height: 23px;
    font-family: 'Maven Pro', sans-serif;
    }
  }

  .block-caption {
    color:#d7fcf5;
    font-size:30px;
  }

  .block-caption_2 {
    color:#20816d;
    font-size:18px;
  }

  .user-info-block {
   padding:60px 0px 50px;
   position: relative;

   &:before {
    content: "";
    position: absolute;
    border-left:1px solid #219d84;
    height:90%;
    left:0;
    transform:translateY(-50%);
    top:50%;
   }

   &:after {
    content: "";
    position: absolute;
    border-left:1px solid #219d84;
    height:90%;
    right:0;
    transform:translateY(-50%);
    top:50%;
   }
  }

  .block-text {
    color:#d7fcf5;
    font-size:12px;
  }

  .user-image-block {
    position: initial;
  }

  .social-links-block {
    padding:16px 5px 0 0;

  .social-links-items {
    list-style: none;
  }

  .social-links:hover {
    opacity:0.8;
  }

}

.footer {
  background-color: #323232;

  &-blocks-wrapper {
    padding:60px 0 65px;
  }

  .footer-blocks {
    font-family: 'Maven Pro', sans-serif;
  }

  .user-forms {
    padding-left:20px
  }

  .footer-caption_1 {
    font-size:30px;
    color:#e0e0e0;
  }

  .footer-caption_2 {
    font-size:18px;
    color:#bebebe;
  }

  .form-control {
    background-color:#454545;
    border:none;
    border-radius:1px;
    padding:10px 15px;
    font-size:12px;
    font-family:"lato";
    color:#bebebe;
  }

  input::-webkit-input-placeholder {
    color: #bebebe !important;
  }

  textarea::-webkit-input-placeholder {
    color: #bebebe !important;
  }

  .user-forms-button {
    background-color: #2eb398;
    color:#aae9dc;
    border-radius: 0;
    padding:10px 29px;
    font-size: 12px;
    font-weight:bold;
    &:hover {
      background-color: #bebebes;
      color:#2eb398;
    }
  }

  .user-form {
    padding:10px 0 0 0;
  }

  .contact-info-block {
    padding:70px 15px 0 15px;

    & p {
      font-size:12px;
      color:#bebebe;
    }

  }

  .company-contacts-info {
    line-height: 21px;
    padding:20px 0 0 0;
    & a {
      display: flex;
      color:#bebebe;
      font-size:12px;
      font-weight:bold;
      position: relative;
      padding-left:20px;

      &::before {
        content: '';
        background: url('../img/contact-block-image_1.png') no-repeat;
        width:15px;
        height: 12px;
        display: flex;
        z-index:10;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
      }

      &:nth-child(2n)::before {
        background: url('../img/contact-block-image_2.png') no-repeat;
      }

      &:nth-child(3n)::before {
        background: url('../img/contact-block-image_3.png') no-repeat;
      }

    }

  }

}

.footer-bottom {
  padding:7px 0 10px 40px;
  background: #222;

  &-text {
    color:#454545;
    font-size:12px;

    &:before {
      content: '';
      position: absolute;
      left:0;
      right:0;
      border-top:1px solid #222;
      bottom:3%;
    }
  }
}


@media only screen and (min-width: 320px) and (max-width:1000px) {
  .honeycombs-block {
    &-3,
    &-4,
    &-8,
    &-9,
    &-10,
    &-13 {
    display: none;
  }
}
}

@media only screen and (min-width: 320px) and (max-width:600px) {
  .honeycombs-block {
    &-5,
    &-7 {
      display: none;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width:400px) {
  .honeycombs-block {
    &-6,
    &-11,
    &-12 {
      display: none;
    }
  }
}